<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kindle Writer</title>
</head>
<body>
    <!-- Styling below makes screen exactly 50 characters wide on my Kindle -->
    <div style="font-family: monospace; white-space: pre-wrap; font-size: 32px;" id="content"></div>
</body>
<script>
    var contentEl = document.getElementById("content");
    function go() {
        setTimeout(function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.responseText);
                    var atPosition = "<span style=\"background-color: lightgrey;\">" + data.content.substr(data.cursor, 1) + "</span>";
                    var content = data.content.substr(0, data.cursor) + atPosition + data.content.substr(data.cursor + 1);
                    contentEl.innerHTML = content;
                    go();
                }
            };
            xhttp.open("GET", "/read", true);
            xhttp.send();
        }, 300);
    }
    go();
</script>
</html>
