<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kindle Writer</title>
</head>
<body>
    <textarea id="content">{{content}}</textarea>
</body>
<script>
    var textareaEl = document.getElementById("content");
    textareaEl.onkeyup = function (event) {
        fetch("/write", {
            method: "POST",
            body: JSON.stringify({
                content: textareaEl.value,
                selection: {
                    start: textareaEl.selectionStart,
                    end: textareaEl.selectionEnd
                }
            })
        });
    }
</script>
</html>
